@font-face {
	/*font by Anna Anthropy*/
    font-family: 'Star Perv';
    src: url('StarPerv.ttf');
	
}

html {
	background-color: #AA3339; /*blank*/
	/*cursor:none; 
	used when exhibiting on my laptop, because closing the lid
	moves the cursor to the center of the screen*/
}

body {
	color: #A59274; /*'bad'*/
	font-family: "Star Perv", monospace;
	font-style: 18px;
	text-align: center;
}

.gamecontainer {
	position: absolute;
	left:     0%;
	top:      0%;
}

#instructions {
	position: absolute;
	top: calc(100% / 192 * 44);
	margin-left: calc(100% / 192 * 11);
	margin-right: calc(100% / 192 * 11);
	left: 0;
	right: 0;
	background-color: #AA3339; /*blank*/
	border: 4px solid #A59274; /*'bad'*/
}

canvas {
	width: 100%;
	height: 100%;
}

.hide {
	display: none;
}

input {
	background-color: #A59274; /*'bad'*/
	color: #AA3339; /*'blank'*/
	padding: 6px;
	border: none;
	border-left: 6px solid #DD9494; /*'good'*/
	font-family: "Star Perv", monospace;
	font-size: 18px;
	max-width: calc(20px * 5);
	font-weight: bold;
}

#connect-button {
	color: #A59274; /*bad*/
	border: 1px solid #A59274; /*'bad'*/
	padding: 6px;
	text-transform: uppercase;
}

#connect-button:hover {
	background-color: #A59274; /*'bad'*/
	color: #E4D7C4; /*'highlight'*/
}

a, a:visited {
	color: #A59274; /*'bad'*/
	text-decoration: none;
}
a:hover {
	color: #DD9494; /*'good'*/
};